{% extends 'home/index.html' %}
{% load static %}

{% block titulo %}

                <h1 style="color:rgb(255, 255, 255); "
                    >Turismo Prattos</h1>

{% endblock %}



{% block subtitulo %}
<div class="transbox">
<h1 style="background-color:rgb(190, 255, 244); color:rgb(3, 3, 3); "
                            >Nuestro Blog</h1>

</div>
{% endblock %}


{% block contenido %}
    <form method="post" >
        {% csrf_token %}
        {{form.as_p}}
        <button type="summit" class="btn btn-primary"> Postear</button>

    

{% endblock %}